import asyncio
import logging
from aiogram import Bot, Dispatcher
from config import Config, load_config
from aiogram.client.bot import DefaultBotProperties
import sqlite3 as sq
from datetime import datetime
from openpyxl import load_workbook
from dataclasses import dataclass
from environs import Env
import lexicon